@import "../styles/component_base.less";

.l-input {
  outline: none;
  box-sizing: border-box;
  width: var(--l-input-width, auto);
  max-width: 100%;
  height: var(--l-form-edit-height, 32px);
  border: 1px solid var(--l-border-color, #dedede);
  transition: border-color 0.3s;
  text-align: inherit;
  padding: 0 5px;
  border-radius: 3px;
  vertical-align: middle;
}
.l-input.is-autosize {
  width: auto;
}
.l-input:focus {
  border-color: var(--l-primary-color, #722ed1);
}
.l-input:disabled {
  cursor: not-allowed;
  background: var(--l-disabled-color, #f5f7fa);
}
