:host {
  --l-input-border-color: var(--l-border-color, #dedede);
  display: inline-flex;
  width: var(--l-input-width, 170px);
  height: var(--l-form-edit-height, 32px);
  align-items: center;
  padding: 0 7px;
  border: 1px solid var(--l-input-border-color, #dedede);
  transition: border-color 0.3s;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}
:host(:focus) {
  --l-input-border-color: var(--l-primary-color, #722ed1);
}

/* disabled */
:host(.is-disabled) {
  background-color: var(--l-disabled-color, #f5f7fa);
}

/* error */
:host(.is-error) {
  --l-input-border-color: #ed3f13;
}

/* prefix、suffix */
.l-input__prefix,
.l-input__suffix {
  color: #a8abb2;
  font-size: 14px;
  display: inline-flex;
  flex-shrink: 0;
}
.l-input__prefix {
  margin-right: 5px;
}
.l-input__suffix {
  margin-left: 5px;
}

/* clearable */
.l-clearable {
  cursor: pointer;
  &:hover {
    color: #999999;
  }
}

/* inner input */
.l-input__inner {
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: inherit;
}
.l-input__inner:disabled {
  background-color: transparent;
}
