/* inner input */
.l-input__inner {
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: inherit;
  font-size: inherit;
  background-color: transparent;
}

.l-input__inner:disabled {
  background-color: transparent;
}