:host {
  display: block;
}
.l-form {
  display: grid;
  grid-template-columns: var(--l-form-label-width, auto) 1fr;
  row-gap: 20px;
}

/** 行内表单 */
.l-form-inline {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
}
.l-form.l-form-inline {
  --l-form-item-display: flex;
}

/* 对齐方式: left */
.l-form.l-form--left {
  --l-form-label-align: left;
}
/* 对齐方式: top */
.l-form.l-form--top {
  --l-form-item-display: grid;
  --l-form-label-align: left;
  --l-form-label-empty-display: none;
  grid-template-columns: 1fr;
}
