:host {
  --l-select-width: 100%;
  display: inline-flex;
  min-height: var(--l-form-control-height, 32px);
  width: var(--l-select-width);
  border: 1px solid var(--l-border-color, #d9d9d9);
  transition: border-color 0.3s;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 5px;
  justify-content: space-between;
  line-height: 1;
  box-sizing: border-box;
}
:host(:hover) {
  border-color: #c0c0c0;
}
:host(.l-select--disabled) {
  background-color: var(--l-disabled-color, #f5f7fa);
  cursor: not-allowed;
}
:host(.l-select--expand),
:host(.l-select--active) {
  border-color: var(--l-primary-color, #722ed1);
}
:host(.l-select--expand) .l-select-arrow {
  transform: rotate3d(0, 0, 1, 180deg);
}

:host(.l-select--loading) .l-select-arrow {
  opacity: 0.2;
}
:host(.l-select--clearable) .l-select-arrow {
  opacity: 0;
}

.l-select-main {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
}
.l-selected-item {
  flex-shrink: 0;
}
.l-select-placeholder {
  flex-grow: 1;
}
.l-select-placeholder,
.l-select-arrow {
  color: #a8abb2;
}
.l-select-filter {
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 15px;
  max-width: 100%;
  width: 0;
  background-color: transparent;
  outline: none;
  border: none;

  &::placeholder {
    color: #a8abb2;
  }
}
.l-select-arrow {
  flex-shrink: 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
  transform: rotate3d(0, 0, 1, 0deg);
}
.l-select-tag-close {
  display: inline-flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s,
    background-color 0.3s;
  cursor: pointer;
  margin-left: 3px;
  font-size: 12px;
}
.l-select-tag-close:hover {
  background-color: #999999;
  color: #ffffff;
}
.l-select-clear,
.l-select-loading {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.l-select-loading {
  color: var(--l-primary-color, #722ed1);
  animation: l-select-loading 1.5s infinite linear;
  z-index: 2;
}
.l-select-clear {
  color: #afafaf;
  z-index: 1;
}

/* 旋转动画 */
@keyframes l-select-loading {
  from {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0);
  }
  to {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 360deg);
  }
}
