:host {
  display: inline-flex;
}
.l-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  color: var(--l-icon-color, inherit);
  font-size: var(--l-icon-size, inherit);
}
.l-stroke-icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}