:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    height: var(--l-calendar-header-height, 32px);
  }

  th {
    font-weight: 400;
    cursor: default;
    // border-bottom: 1px solid rgb(239, 239, 245);
  }

  .excluded {
    color: var(--l-calendar-off-text-color, #a8abb2);
  }
}

.day {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;

  :where(&:hover) {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.disabled {
    color: var(--l-calendar-off-text-color, #a8abb2);
    cursor: not-allowed;
  }

  &.active:not(.disabled) {
    background-color: var(--l-primary-color, #007bff);
    color: white;
    font-weight: bold;
  }

  &.today {
    color: var(--l-primary-color, #007bff);
  }
  &.range {
    background-color: var(--l-primary-color-light4, #cce6ff);
  }
  &.range-start,
  &.range-end {
    background-color: var(--l-primary-color, #007bff);
    color: #ffffff;
  }
}