:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  thead {
    height: var(--calendar-header-height, auto);
  }

  th {
    font-weight: 400;
    cursor: default;
  }

  .prev-month,
  .next-month {
    color: var(--l-calendar-off-text-color, #a8abb2);
  }

  .today {
    color: var(--l-primary-color, #007bff);
  }
}

.day {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 13px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.disabled {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
  }

  &.active {
    background-color: var(--l-primary-color, #007bff);
    color: white;
    font-weight: bold;
  }
}