:host {
  display: none;
}
:host(.open) {
  display: block;
}

.l-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: calc(var(--l-mask-zindex, 100) + 1);
}
.l-modal {
  background-color: #ffffff;
  border-radius: 5px;
  width: var(--l-modal-width, 27%);
  margin: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 1;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.l-modal-header {
  display: block;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid var(--l-modal-line-color, rgba(0, 0, 0, 0.06));
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.l-modal-footer {
  padding: 10px;
  border-top: 1px solid var(--l-modal-line-color, rgba(0, 0, 0, 0.06));
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.l-modal-container {
  padding: 15px 10px;
  font-size: 14px;
}

.l-btn-modal-close {
  --l-form-edit-height: auto;
  position: absolute;
}
.l-modal-close1 {
  right: 5px;
  top: 8px;
}
.l-modal-close1::part(default) {
  width: auto;
  height: auto;
  padding: 5px;
  border: none;
  font-size: 16px;
}
.l-modal-close2 {
  right: -10px;
  top: -10px;
}
.l-modal-close2::part(default) {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ffffff;
}

/* transition */
.mask-transition-enter-from,
.mask-transition-leave-to {
  opacity: 0;
}

.modal-transition-enter-from,
.modal-transition-leave-to {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale3d(0, 0, 0);
}

/* mobile */
.l-modal--mobile {
  border-radius: 10px;
}

.l-modal--mobile .l-modal-header {
  text-align: center;
  border-bottom-color: transparent;
  padding: 20px 10px 5px;
  display: flex;
  justify-content: center;
}
.l-modal--mobile .l-modal-container {
  padding: 5px 15px 20px;
  text-align: center;
}
.l-modal--mobile .l-modal-footer {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  text-align: center;
  height: 50px;
  gap: 0;
}

.l-modal--mobile .l-modal-footer-btn {
  flex-grow: 1;
  height: 100%;
}
.l-modal--mobile .l-modal-footer-btn + .l-modal-footer-btn {
  border-left: 1px solid var(--l-modal-line-color, rgba(0, 0, 0, 0.06));
}

/* vertical align */
.l-modal--top {
  transform: translate3d(0, 80px, 0) scale3d(1, 1, 1);
}
.l-modal--middle {
  top: 50%;
  transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
}
.l-modal--bottom {
  transform: translate3d(0, -100%, 0) scale3d(1, 1, 1);
  top: 100%;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 768px) {
  :host {
    --l-modal-width: 80%;
  }
}
