:host {
  display: block;
  width: 500px;
  height: 180px;
  margin: 0 auto;
  border: 2px solid red;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  min-width: 1500px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  transform: translateX(0px);
}

.item {
  width: 500px;
  height: 100%;
}
