:host {
  display: block;
  position: relative;
}
:host(.l-container-close-outside) {
  padding-top: 10px;
  padding-right: 10px;
}
.l-dialog-main {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}
.l-dialog-header {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid var(--l-dialog-line-color, rgba(0, 0, 0, 0.06));
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.l-dialog-footer {
  padding: 10px;
  border-top: 1px solid var(--l-dialog-line-color, rgba(0, 0, 0, 0.06));
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.l-dialog-container {
  padding: 15px 10px;
  font-size: 14px;
}
.l-btn-dialog-close {
  --l-form-control-height: auto;
  position: absolute;
}
.l-dialog-close1 {
  right: 5px;
  top: 6px;
}
.l-dialog-close1::part(default) {
  width: auto;
  height: auto;
  padding: 5px;
  border: none;
  font-size: 16px;
}
.l-dialog-close2 {
  right: 0;
  top: 0;
}
.l-dialog-close2::part(default) {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ffffff;
}
/* mobile */
.l-dialog-main--mobile {
  border-radius: 10px;
}
.l-dialog-main--mobile .l-dialog-header {
  text-align: center;
  border-bottom-color: transparent;
  padding: 20px 10px 5px;
  display: flex;
  justify-content: center;
}
.l-dialog-main--mobile .l-dialog-container {
  padding: 5px 15px 20px;
  text-align: center;
}
.l-dialog-main--mobile .l-dialog-footer {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  text-align: center;
  height: 50px;
  gap: 0;
}
.l-dialog-main--mobile .l-dialog-footer l-button {
  flex-grow: 1;
  height: 100%;
}
.l-dialog-main--mobile .l-dialog-footer l-button + l-button {
  border-left: 1px solid var(--l-dialog-line-color, rgba(0, 0, 0, 0.06));
}
