:host {
  --l-table-max-height: 100%;
  --l-table-td-padding: 10px;
  --l-table-th-padding: var(--l-table-td-padding);
  --l-table-layout: auto;
  display: inline-block;
  width: 100%;
  max-height: var(--l-table-max-height);
  overflow: auto;
  font-size: 14px;
}
.l-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: var(--l-table-layout);
}
.l-table th,
.l-table td {
  padding: var(--l-table-th-padding);
  border-bottom: 1px solid #e6e6e6;
}
.l-table th {
  text-align: left;
  background-color: #f2f2f2;
}

.l-table td {
  background-color: #ffffff;
  transition: background-color 0.3s;
}
.l-table tr:hover td {
  background-color: #f2f2f2;
}

.l-table__empty-col {
  color: #999999;
  text-align: center;
}

/* 斑马纹 */
.l-table-stripe tr:nth-child(even) td {
  background-color: #fafafa;
}
.l-table-stripe tr:nth-child(even):hover td {
  background-color: #f2f2f2;
}

/* 边框 */
.l-table-border {
  th,
  td {
    border: 1px solid #e6e6e6;
  }
}

/* 表格固定 */
.l-table-fixed {
  --l-table-layout: fixed;
}
.l-table-fixed .l-fixed {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
}
.l-table-fixed thead.l-fixed,
.l-table-fixed tfoot.l-fixed {
  z-index: 2;
}
