:host {
  --l-input-border-color: var(--l-border-color, #dedede);
  display: inline-flex;
  height: var(--l-form-control-height, 32px);
  border: 1px solid var(--l-input-border-color, #dedede);
  border-radius: var(--l-border-radius, 3px);
}