:host {
  vertical-align: middle;
  display: inline-flex;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

.l-image-inner {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: var(--l-image-fit, fill);
}
.l-image-inner--preview {
  cursor: pointer;
}
