.l-date-picker-panel {
  border-radius: 5px;
  width: 270px;
}

.l-date-picker--header {
  display: flex;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  height: var(--l-date-picker-header-height, 40px);
}

.l-date-picker--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}

.l-date-picker-header-btn {
  outline: none;
  padding: 0;
  width: 22px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--l-date-picker-button-color, inherit);
  transition: color 0.3s;
  flex-shrink: 0;
  min-width: 0;
}

.l-date-picker-header-btn:hover {
  --l-date-picker-button-color: var(--l-primary-color-light1, #3399ff);
}

.l-date-picker-header-btn:active {
  --l-date-picker-button-color: var(--l-primary-color, #007bff);
}

.l-date-picker-year-month {
  flex-grow: 1;
  width: auto;
}

.l-date-picker--body {
  padding: 4px 10px 8px 10px;
}

.l-date-picker--calendar {
  height: 240px;
}