.l-dialog {
  --l-dialog-translate: translate3d(0, 80px, 0);
  --l-dialog-width: 30%;
  transform: scale3d(0, 0, 0);
  border: none;
  outline: none;
  opacity: 0;
  width: var(--l-dialog-width);
  margin: 0 auto;
  transition:
    transform 0.3s,
    opacity 0.3s;
  max-width: 100%;
  background-color: transparent;
}
.l-dialog-close-outside {
  --l-dialog-translate: translate3d(5px, 90px, 0);
}
.l-dialog--vertical-middle {
  --l-dialog-translate: translate3d(0, 0, 0);
  margin: auto;
}
.l-dialog-close-outside.l-dialog--vertical-middle {
  --l-dialog-translate: translate3d(5px, 0, 0);
}
.l-dialog--vertical-bottom {
  --l-dialog-translate: translate3d(0, -100%, 0);
  top: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.l-dialog-close-outside.l-dialog--vertical-bottom {
  --l-dialog-translate: translate3d(5px, -100%, 0);
}
.l-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.l-dialog--open {
  transform: scale3d(1, 1, 1) var(--l-dialog-translate);
  opacity: 1;
}
.l-dialog--open::backdrop {
  opacity: 1;
}
.l-body--dialog-open {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .l-dialog {
    width: 80%;
    max-width: 300px;
  }
}
