.l-loading:not(.l-loading-fullscreen) {
  position: relative;
}
.l-loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--l-loading-zindex, 10);
  background: rgba(0, 0, 0, 0.6);
  border-radius: inherit;
  transition: opacity 0.3s;
  opacity: 0;
}

.l-loading-spinner {
  --l-loading-color: var(--l-primary-color, #722ed1);
  text-align: center;
  position: absolute;
  z-index: calc(var(--l-loading-zindex, 10) + 1);
  opacity: 0;
  transition: opacity 0.3s;
}
.l-loading-spinner.l-loading--circle {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.l-loading-spinner .circle {
  display: inline;
  width: 40px;
  height: 40px;
  animation: loading-rotate 1.5s linear infinite;
}

.l-loading-spinner .path {
  stroke: var(--l-loading-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0px;
}

.l-loading-spinner .l-loading-text {
  color: var(--l-loading-color);
  margin: 0;
  font-size: 14px;
}

/* 全屏组件 */
.l-loading-fullscreen.l-loading-lock {
  overflow: hidden;
  --l-loading-zindex: 50;
}
.l-loading-fullscreen > .l-loading-mask {
  position: fixed;
}
.l-loading-fullscreen > .l-loading-spinner {
  position: fixed;
}

/* 进度条样式 */
.l-loading--bar.l-loading-spinner {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: inherit;
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
}
.l-loading--bar > .l-loading-progress {
  width: 100%;
  height: 100%;
  max-width: 0;
  opacity: 1;
  border-radius: 1px;
  transition:
    max-width 4s linear,
    background-color 0.2s linear,
    opacity 0.2s linear;
  background-color: var(--l-primary-color, #722ed1);
}
.l-loading-bar--start .l-loading-progress {
  max-width: 90%;
}

.l-loading-bar--finish .l-loading-progress {
  transition:
    max-width 0.2s linear,
    background-color 0.2s linear,
    opacity 0.2s linear;
  max-width: 100%;
  opacity: 0;
}

.l-loading-bar--error .l-loading-spinner {
  transition:
    max-width 0.2s linear,
    background-color 0.2s linear,
    opacity 0.2s linear;
  max-width: 100%;
  background-color: var(--l-error-color, #d03050);
  opacity: 0;
}

@keyframes loading-rotate {
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
