.l-popover {
  --l-popover-background: #ffffff;
  --l-popover-border-color: #e4e4e4;
  --l-popover-color: #666666;
  --l-popover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--l-popover-background);
  box-shadow: var(--l-popover-box-shadow);
  border: 1px solid var(--l-popover-border-color);
  color: var(--l-popover-color);
  border-radius: 4px;
  font-size: 90%;
  box-sizing: border-box;
  display: none;
  z-index: 300;
  line-height: 1;
  padding: 10px;
}
.l-popover-arrow {
  position: absolute;
  background: var(--l-popover-background);
  width: var(--l-popover-arrow-size, 8px);
  height: var(--l-popover-arrow-size, 8px);
  transform: rotate(45deg);
  box-sizing: border-box;
}
/* tooltip */
.l-popover.l-popover--tooltip {
  --l-popover-color: #fff;
  --l-popover-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  --l-popover-background: #383838;
  --l-popover-border-color: #383838;
  font-size: 12px;
  padding: 8px;
}

/* popconfirm */
.l-popover--popconfirm {
  min-width: 150px;
}
.l-popover--popconfirm .l-popconfirm-container {
  display: flex;
  align-items: center;
}
.l-popover--popconfirm .l-popconfirm-icon-wrapper {
  margin-right: 10px;
  display: inline-flex;
  color: var(--l-warn-color, #f90);
}
.l-popover--popconfirm .l-popconfirm-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 7px;
  gap: 7px;
}
.l-popover--popconfirm .l-popconfirm-btn {
  height: 24px;
}
.l-popover--popconfirm .l-popconfirm-btn::part(default) {
  padding: 0 6px;
  font-size: 13px;
}
