.l-popover--select {
  --l-select-option-hover-background: var(--l-primary-color-light4, #722ed1);
  max-height: 200px;
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
}
.l-select-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
}
.l-select-option-content {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l-select-option:hover {
  background-color: var(--l-select-option-hover-background);
}
.l-select-option--empty {
  --l-select-option-hover-background: transparent;
  justify-content: center;
  cursor: default;
  color: var(--l-info-color, #999);
}
.l-select-option--selected {
  color: var(--l-primary-color-light1, #9254de);
}
