:root {
  /* button、input 元素高度 */
  --l-form-control-height: 32px;
  /** 禁用状态颜色 */
  --l-disabled-color: #e6e6e6;
  /* 主题(primary)颜色 - 明亮蓝系列 */
  --l-primary-color: #007bff; /* 主色调：明亮蓝 */
  --l-primary-color-light1: #3399ff; /* 浅 1 */
  --l-primary-color-light2: #66b3ff; /* 浅 2 */
  --l-primary-color-light3: #99ccff; /* 浅 3 */
  --l-primary-color-light4: #cce6ff; /* 浅 4 */
  --l-primary-color-light5: #e6f2ff; /* 浅 5 (极浅) */
  --l-primary-color-dark1: #0066cc; /* 深 1 */
  --l-primary-color-dark2: #004c99; /* 深 2 */
  /* 表示错误(error)的颜色 */
  --l-error-color: #f5222d;
  --l-error-color-light3: #ffa39e;
  --l-error-color-light5: #fff1f0;
  /* 表示成功(success)的颜色 */
  --l-success-color: #52c41a;
  --l-success-color-light1: #73d13d;
  --l-success-color-light2: #95de64;
  --l-success-color-light3: #b7eb8f;
  --l-success-color-light4: #d9f7be;
  --l-success-color-light5: #f6ffed;
  --l-success-color-dark1: #389e0d;
  /* 表示警告(warn)的颜色 */
  --l-warn-color: #f90;
  /* 表示信息(info)的颜色 */
  --l-info-color: #999;
  --l-info-color-light9: #f5f5f5;
  /* 边框颜色 */
  --l-border-color: #dedede;
  --l-border-radius: 3px;
}
html.dark {
  --l-disabled-color: #6c6c6c;
}
